body{
    background-color: #585858;
    color: rgb(204, 204, 204);
}
.login-form form{
    background-color: rgb(37, 37, 37);
    max-width: 400px;
    margin: auto;
    padding: 40px 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);
}
.login-form .form-name{
    text-align: center;
    font-size: 40px;
    color: #78c2ad;
    height: 100px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 80px;
}
.login-form .item{
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;    
}
.login-form .login-account{
    border-radius: 20px;
    padding: 10px 20px;   
    font-weight: bold;
    background-color: #78c2ad;
    border: none;
    margin-top: 20px; 
    color: #fff;
}
.login-form .form-group{
    color: #78c2ad;
}
.login-form .social-media{
    max-width: 400px;
    background-color: rgb(37, 37, 37);
    margin:auto;
    padding: 30px 0px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #78c2ad;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);

}
.btn{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0px;
    border-radius: 5px;
    margin: 5px 0;
}
.btn:hover{
   text-decoration: none;
   opacity: 0.7;
}
.login-form .social-icons{
    margin-top: 20px;
    margin-bottom: 12px;
}
.login-form .social-icons a{
    font-size: 20px;
    margin: 3px;
    color: #78c2ad;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    background: #fff;
    
}
