body{
    background-color: #585858;
    color: rgb(204, 204, 204);
}
.login-form form{
    background-color: rgb(37, 37, 37);
    max-width: 500px;
    margin: auto;
    padding: 40px 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);
}
.login-form .form-name{
    text-align: center;
    font-size: 40px;
    color: #78c2ad;
    height: 100px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 80px;
}
.login-form .item{
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;    
}